PORT=3000
DATABASE_URL=db.sqlite
REDIS_URL=redis://localhost:6379
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=cloudforge
MINIO_SECRET_KEY=cloudforge123
MINIO_BUCKET=cloud-forge
PUBLIC_BASE_URL=http://localhost:3000

# Published worker image for remote execution
PUBLISHED_WORKER_IMAGE=xproger/cloud-forge-worker
PUBLISHED_WORKER_TAG=0.1.0